{
  "plugins": [
    [
      "babel-plugin-styled-components", {
        "pure": true,
        "displayName": true
      },
    ],
    "react-hot-loader/babel",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
